@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x:hidden;
}
table,th,tr,td{
  border: 1.5px solid rgb(229, 228, 228);
  padding: 10px;
  font-weight: normal;
  font-size: 18px;
}


